language: python
python:
- '2.6'
- '2.7'
- '3.3'
- '3.4'
install:
- pip install -e . --use-mirrors
script:
- python setup.py test
deploy:
  provider: pypi
  user: Keita
  password:
    secure: hiKhwSky/Vj0P3d9PZZLY4zvCdpWhNOogyNhvktY11cPTtBP1mPitMr9MMeyDzhqjc1NzetQqseOvISak9yTTQ6UVL3E7si6n2gXro3NdLlE+8LlNDzV/kAsgmAj3vhzmr1YYf6bATwtxzIDkVcTVgb5WjYqRKxKADILPbY9OKk=
  on:
    repo: keitaoouchi/easyimap
    branch: release/pypi
    distributions: sdist --formats=gztar,zip
notifications:
  slack:
    secure: mRFzPF4qQzRfHCS9rYEKpUI9w5wvyv4AO8AVuzvwU1rExKokdl6jcxsMEYlOvozqztfjY7YSN3hm/KV60UiPBtbuox54GrvkCu/qqfx6tFRc1aS+5JclGvOGrrRyzodCIDJEuayiZIrzUSMwcwRInd+N1atpJUKoa9AgyVn+e0o=
    on_success: never
    on_failure: always
